---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/default",
    "theme/dark",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands",
    "vendor/magnific-popup/magnific-popup"
;

body { position: relative; }

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/assets/images/Lorenz_attractor_yb.svg");
  background-repeat: repeat;
  background-position: center;
 background-size: cover;
  opacity: 0.20;
  filter: grayscale(100%) contrast(140%);
  pointer-events: none;
  z-index: 0;     /* 不要 -1 */
}

/* 把页面内容抬到背景上面 */
.masthead, .initial-content, .page__footer {
  position: relative;
  z-index: 1;
}

.initial-content,
.page,
.archive,
.sidebar,
.page__inner-wrap,
.author__content,
.author__urls-wrapper{
  background: transparent !important;
  box-shadow: none !important;
}


